<ion-view>
	<ion-nav-title>{{dish.name}}</ion-nav-title>
	<ion-content>
		<label class="item item-input">
			<span class="input-label">Set rating:</span>
			<!-- <input type="text" ng-model="dish.rating"> -->
		</label>
		<div class="stars">
			<span ng-repeat="star in stars"
					class="star"
					ng-click="setStars($index)"
					ng-class="{active: ($index+1) <= starsRate }">
			</span>
		</div>
		<div ng-repeat="image in dish.images track by $index">
			<img class="full-image" ng-src="{{image}}">
		</div>
	</ion-content>
	<button ui-sref="new_photo({dishId: dish.ID})" class="bar bar-footer bar-balanced">
		<div class="title">Add New Image</div>
	</button>
</ion-view>