<ion-view>
	<ion-nav-title>
		<label class="item item-input search-resturant">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Search" ng-model="dishQuery" ng-change="setList(dishQuery)">
		</label>
	</ion-nav-title>
	<ion-content class="has-footer resturant-content">
		<ion-list class="dish-list">
			<ion-item class="dish-item" ng-repeat="dish in restaurant.dishes | filter: search">
				<h2>{{dish.NAME}} | {{dish.RATING}}</h2>
				<img ng-src="{{dish.URL}}" ng-repeat="image in dishImages" class="dish-image">
			</ion-item>
		</ion-list>
	</ion-content>
	<button ui-sref="new_dish({dishId: dish.ID})" class="bar bar-footer bar-balanced">
		<div class="title">Add New</div>
	</button>
</ion-view>