<ion-view>
	<ion-nav-title>{{restaurant.name}}</ion-nav-title>
	<ion-content class="has-footer">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Search" ng-model="dishQuery" ng-change="setList(dishQuery)">
		</label>
		<ion-list>
			<ion-item class="item-avatar" ng-repeat="dish in restaurant.dishes | filter: search" ui-sref="view_dish">
				<img ng-src="{{dish.URL}}">
				<h2>{{dish.NAME}}</h2>
				<p>{{dish.RATING}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
	<button ui-sref="new_dish" class="bar bar-footer bar-balanced">
		<div class="title">Add New</div>
	</button>
</ion-view>